.red {
    font-weight: bold;
    color: red;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(230, 230, 230);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border-radius: 8px;
    width: 100vw;
    height: 100vh;
}



.logo {
    margin-left: 10px;
    height: 45px;
    flex: 1 1 45px;
    background-color: rgb(41, 82, 100);
}

.cab {
    color: white;
    font-size: 1.3rem;
    font-family: 'Bauhaus 93';
    text-decoration: none;
    transition: 0.3s;
}

.cab:hover {
    transform: translateY(-3px);
    text-shadow: 0 3px 3px gray;
}

main {
    height: calc(100vh - 160px);
    padding: 18px;
    background-color: azure;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    align-items: center;
    overflow-x: hidden;
}

section {
    width: 100%;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2 {
    font-family: 'Cooper';
    margin: 8px;
}

hr {
    width: 80%;
    margin: 10px 0;
    border: 1px solid rgb(41, 82, 100);
}

p {
    width: 80%;
    font-size: 1rem;
    margin-bottom: 10px;
    font-weight: normal;
}

iframe {
    border-radius: 8px;
    border: 1px solid rgb(41, 82, 100);
    transition: 0.5s;
    width: 600px;
    height: 250px;
}

iframe:hover {
    transform: translateY(-3px);
    box-shadow: 0 3px 3px gray;
}

.be {
    border: 0px;
    border-radius: 20px;
    color: white;
    background-color: rgb(41, 82, 100);
    font-size: 27px;
    transition: 0.3s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.bd {
    border: 0px;
    border-radius: 20px;
    color: white;
    background-color: rgb(41, 82, 100);
    font-size: 27px;
    transition: 0.3s;
    margin-left: 250px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.bd:hover,
.be:hover {
    font-size: 30px;
}

.but {
    text-align: center;
}

.rp {
    background-color: rgb(41, 82, 100);
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
}

.texrp {
    color: white;
    background-color: rgb(41, 82, 100);
    font-family: 'Cooper';
    font-size: 1.2rem;
}

@media (width <=500px) {
    hr {
        width: 90%;
    }

    p {
        font-size: 1rem;
        width: 90%;
    }

    iframe {
        width: 90%;
    }

    .rp {
        text-align: center;
    }

    .cab-especial {
        display: none;
    }
}

header {
    background-color: rgb(41, 82, 100);;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav.menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav.menu a.cab {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    margin: 0 15px;
}


@media screen and (max-width: 1255px) {
    nav.menu {
        display: none;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: #333;
        text-align: center;
        flex-direction: column;
        padding: 10px 0;
        justify-content: space-between;
    }

    nav.menu a.cab {
        margin: 15px 0;
        font-size: 20px;
    }

    nav.menu.active {
        display: flex;
    }
}

footer{
    background-color: rgb(41, 82, 100);;
}

